<div id="login_container">
  <div class="landing_links"><%= link_to "Login", login_path %></div>
  <span>Or</span>
  <div class="landing_links"><%= link_to "Register", new_user_path %></div>
  <small><%= link_to "Try It Without Logging In", display_stages_path %></small>
</div>
