@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500italic);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************************************************************

Icons and Path

***************************************************************************/
#path_directions {
  text-align: center;
  box-sizing: border-box;
  padding: 0 10px 80px 10px;
}

#path_icons::after,
#paths::after {
  display: block;
  content: '';
  clear: both;
}

span.path_container + span.path_container {
  padding-left: 40px;
}

i {
  color: #3E606F;
  display: inline-block;
  position: relative;
}

.circle {
  background-color: #3E606F;
	display: inline-block;
  content: '';
  border-radius: 100%;
  height: 12px;
  width: 12px;
  position: absolute;;
  top: 22px;
  right: -1px;
}

.fa-coffee .circle {
  right: 3px;
}

.fa-smile-o .circle {
  right: 0px;
}

#paths {
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
}

.line {
  background-color: #3E606F;
  display: inline-block;
  height: 3px;
  width: 48px;
  position: absolute;
  top: 26px;
  left: 11px;
}

.fa-coffee .line {
  width: 48px;
	left: 14px;
}

.finished_line_or_circle {
  background: #FCFFF5;
}

.finished_stage {
  color: #FCFFF5;
}

/***************************************************************************

Body

***************************************************************************/

html,
body,
main {
  height: 100%;
}

body {
  background-color: #193441;
	font-family: 'Raleway', sans-serif;
}

main {
	overflow: hidden;
}

main,
header {
  background-color: #91AA9D;
  width: 90%;
  margin: 0 auto;
}

header {
	padding-top: 4px;
	padding-bottom: 6px;
	background-color: rgba(209, 219, 189, 0.9);
}

main {
	padding-top: 20px;
}

#fav-header {
	color: #333;
}

h1,
h2 {
	font-size: 2.1em;
	font-weight: 500;
	font-style: italic;
	text-align: center;
	color: #333;
}

h1 {
	display: inline-block;
	padding-left: 8px;
	font-size: 24px;
	position: relative;
	left: 50%;
	margin-left: -59px;
}

h1:hover a,
h1:hover a #fav-header {
	color: rgba(51, 51, 51, 0.7);
}

#login_container {
	text-align: center;
	margin: 0 auto;
	margin-top: 40px;
	width: 150px;
}

#logout:hover,
#profile:hover {
	color: rgba(51, 51, 51, 0.5);
}

#logout {
	position: relative;
	margin-left: -50px;
}

#profile {
	padding-left: 8px;
}

.landing_links a {
	width: 100%;
	height: 100%;
	display: block;
}

a {
	text-decoration: none;
	color: #333;
}

.landing_links a,
#login_container small a {
	color: #FCFFF5;
}

.landing_links {
	font-size: 2em;
	margin: 10px 0;
	background-color: #3E606F;
	padding: 7px 0;
	border-radius: 4px;
}

.landing_links:hover {
	background-color: rgba(62, 96, 111, 0.7);
}

small {
	font-size: 12px;
}

/***************************************************************************

Time

***************************************************************************/
#time_container {
	font-family: "Libre Baskerville", serif;
	text-align: center;
}

#time_container span {
	font-size: 5em;
}

#time_container #minutes:after {
	content: ':';
	position: relative;
	top: -4px;
	left: 2px;
}

#time_container a#start_end_time {
	background: #193441;
	color: #D1DBBD;
	display: inline-block;
	margin-top: 20px;
	padding: 10px;
	border-radius: 7px;
}

#time_container a#start_end_time:hover {
	background: #3E606F;
}

/* As hex codes


.color-primary-0 { color: #0EA5FF }	 Main Primary color
.color-primary-1 { color: #A9DFFF }
.color-primary-2 { color: #78CDFF }
.color-primary-3 { color: #00578A }
.color-primary-4 { color: #00436A }



As RGBa codes

.rgba-primary-0 { color: rgba( 14,165,255,1) }	Main Primary color
.rgba-primary-1 { color: rgba(169,223,255,1) }
.rgba-primary-2 { color: rgba(120,205,255,1) }
.rgba-primary-3 { color: rgba(  0, 87,138,1) }
.rgba-primary-4 { color: rgba(  0, 67,106,1) }

*/

/***************************************************************************

Errors

***************************************************************************/
div#errors {
	width: 400px;
	margin: 20px auto;
	background-color: rgba(255, 0, 0, 0.3);
	padding: 5px;
}

div#errors h3 {
	font-size: 1.3em;
}

div#errors ul {
	margin-top: 8px;
	list-style: circle;
	margin-left: 22px;
}


/***************************************************************************

Forms

***************************************************************************/
.field_with_errors {
	display: inline;
}

form {
	display: block;
	margin: 0 auto;
	width: 250px;
	margin-top: 22px;
}

form label,
form input,
form select {
	margin-top: 10px;
}

form label {
	display: block;
}

/***************************************************************************

Messages

***************************************************************************/
.alert {
	text-align: center;
	padding: 10px;
}

.alert-success {
	background-color: #BEEB9F;
}

.alert-error {
	background-color: #E74C3C;
}

/***************************************************************************

Profile

***************************************************************************/
#overview {
	margin: 0 auto;
	width: 270px;
	padding-top: 18px;
	padding-bottom: 40px;
}

#overview li {
	margin-top: 10px;
}

/***************************************************************************

Projects

***************************************************************************/

#new_project_link {
	display: inline-block;
	position: relative;
	left: 50%;
	margin-left: -49px;
	margin-top: 10px;
	padding: 4px;
	background-color: #3E606F;
	color: #FCFFF5;
	border-radius: 3px;
}

#new_project_link:hover {
	background-color: rgba(62, 96, 111, 0.7);
}

#projects {
	margin: 0 auto;
	min-width: 400px;
	max-width: 600px;
	margin-top: 20px;
	height: 100%;
	position: relative;
}

#projects_divider {
	width: 1px;
	height: 100%;
	position: absolute;
	background: #ddd;
	left: 50%;
}

.projects_container {
	vertical-align: top;
	display: inline-block;
	width: 50%;
}

#current_projects,
#invitations {
	display: inline-block;
	width: 100%;
}

#invitations {
	box-sizing: border-box;
	padding-left: 3px;
}

#current_projects h4,
#invitations h4 {
	display: block;
	text-align: center;
	font-weight: 700;
}

#invitations li {
	text-align: center;
	margin: 10px 0;
}

#current_projects li {
	margin: 12px 0;
}

.view_project {
	float: right;
	padding-right: 8px;
	display: none;
}

#current_projects li:hover .view_project {
	display: block;
}

.view_project:hover {
	color: rgba(51, 51, 51, 0.5);
}

.make_current_project {
	color: inherit;
}

.make_current_project:hover {
	color: rgba(51, 51, 51, 0.5);
}

.active_project {
	font-weight: 700;
}

#overview.project_overview {
	width: 330px;
}


/***************************************************************************

Project

***************************************************************************/

#project {
	min-width: 500px;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}

#project_divider {
	width: 1px;
	height: 100%;
	background-color: #ccc;
	position: absolute;
	left: 50%;
}

#project h5 {
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
}

.project_container {
	display: inline-block;
	width: 50%;
	height: 100%;
}

.contributor {
	margin-right: 20px;
}

.contrib_abs_time {
	margin: 0 5px;
}

.contrib_rel_time {
	margin: 0 5px;
}

#invite_users {
	text-align: center;
}

.add_user {
	margin-left: 4px;
}

#participants.viewer {
	width: 330px;
	margin: 0 auto;
}

#participants.viewer h5 {
	text-align: center;
	font-weight: 700;
	margin-bottom: 16px;
}

#participants.viewer li {
	margin: 5px 0;
}
